[submodule "Qt/Chatlis"]
	path = Qt/Chatlis
	url = https://github.com/Force-quit/Chatlis.git
[submodule "Qt/Emalice"]
	path = Qt/Emalice
	url = git@github.com:Force-quit/Emalice.git
[submodule "Qt/Password-creator"]
	path = Qt/Password-creator
	url = git@github.com:Force-quit/Password-creator.git
[submodule "Qt/Input-recorder"]
	path = Qt/Input-recorder
	url = git@github.com:Force-quit/Input-recorder.git
[submodule "VSQT/AutoClicker"]
	path = VSQT/AutoClicker
	url = git@github.com:Force-quit/AutoClicker.git
