[submodule "VSQT/Chatlis"]
	path = VSQT/Chatlis
	url = https://github.com/Force-quit/Chatlis.git
[submodule "VSQT/Input-recorder"]
	path = VSQT/Input-recorder
	url = git@github.com:Force-quit/Input-recorder.git
[submodule "VSQT/AutoKeys"]
	path = VSQT/AutoKeys
	url = git@github.com:Force-quit/AutoKeys.git
[submodule "VSQT/Password-creator"]
	path = VSQT/Password-creator
	url = git@github.com:Force-quit/Password-creator.git
[submodule "VSQT/Word-finder"]
	path = VSQT/Word-finder
	url = git@github.com:Force-quit/Word-finder.git
[submodule "VSQT/MinecraftFishingBot"]
	path = VSQT/MinecraftFishingBot
	url = git@github.com:Force-quit/MinecraftFishingBot.git
